<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="d-flex flex-column justify-content-center align-items-center"
>
  <div class="container" data-aos="fade-in">
    <h1>Welcome to XPORT LOGISTICS</h1>
    <h2>Empower and fly your business with better logistics!</h2>
    <div class="d-flex align-items-center">
      <i class="bx bxs-right-arrow-alt get-started-icon"></i>
      <a href="#about" class="btn-get-started scrollto">Contact Us</a>
    </div>
  </div>
</section>
