<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo"><h1><a href="https://xportlogistics.in">XPORT LOGISTICS</a></h1></div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="https://xportlogistics.in">Home</a></li>
        <li><a class="nav-link scrollto disabled" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
